@import '~@fluentui/react/dist/sass/References.scss';

.dynamicContentWebPart {
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  padding: 1em;
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.linksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.linkCard {
  background-color: #0078d4;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  min-width: 120px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  &:hover {
    background-color: #005a9e;
  }
}

